# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Visual Studio Stuff
/Debug
GEL/Release
optprops/Release
pathtrace/Release
realtime/Release
GEL/Debug
optprops/Debug
pathtrace/Debug
realtime/Debug
*.vcxproj.user
*.pdb
*.aux
*.log
*.toc
*.suo
*.sdf
*.opensdf
